  /* Product Card Styles */
  .product-item {
    max-width: 100%;
    height: 100%;
  }

  .product-img {
    height: 200px;
    overflow: hidden;
  }

  .product-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .card-body {
    height: 200px;
    overflow: hidden;
  }

  .card-footer {
    height: 50px;
  }

  .vip-status {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(206, 181, 38);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
  }