<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a href="">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Shopping Cart</p>
      </div>
  </div>
</div>
<!-- Page Header End -->


<!-- Cart Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
      <div class="col-lg-8 table-responsive mb-5">
          <table class="table table-bordered text-center mb-0">
              <thead class="bg-secondary text-dark">
                  <tr>
                      <th (click)="sortField = 'productId'; toggleSortDirection()">ID</th>
                      <th (click)="sortField = 'name'; toggleSortDirection()">Product</th>
                      <th (click)="sortField = 'category'; toggleSortDirection()">Category</th>
                      <th (click)="sortField = 'price'; toggleSortDirection()">Price</th>
                      <th>Remove</th>
                  </tr>
              </thead>
              <tbody class="align-middle">
                  <tr *ngFor="let item of cartItems">
                    <td>{{ item.id }}</td>
                    <td class="align-middle"><a [routerLink]="['/product', item.id]" target="_blank"><img [src]="item.photo" alt="{{ item.name }}" style="width: 100px; height: auto;">{{ item.name }}</a></td>
                    <td class="align-middle">{{ item.categoryName }}</td>
                    <td class="align-middle">{{ item.price | currency }}</td>
                    <td class="align-middle"><button (click)="removeFromCart(item.id)" class="btn btn-sm btn-primary"><i class="fa fa-times"></i> Remove from Cart</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-lg-4">
          <div class="card border-secondary mb-5">
              <div class="card-header bg-secondary border-0">
                  <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
              </div>
              <div class="card-footer border-secondary bg-transparent">
                  <div class="d-flex justify-content-between mt-2">
                      <h5 class="font-weight-bold">Total</h5>
                      <h5 class="font-weight-bold">{{ totalPrice | currency }}</h5>
                  </div>
                  <button (click)="openOrderModal()" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                  <button (click)="clearCart()" class="btn clearCart btn-block btn-primary my-3 py-3">Clear Cart</button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Cart End -->

<!-- Order Confirmation Modal -->
<div *ngIf="isOrderModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeOrderModal()">&times;</span>
    <h2>Confirm your order</h2>
    <p>Total Price: {{ totalPrice | currency }}</p>
    <button (click)="confirmOrder()">Confirm Order</button>
  </div>
</div>

<!-- Confirmation Modal -->
<div *ngIf="isConfirmationModalOpen" class="modal">
  <div class="modal-content">
    <h2>Order confirmed!</h2>
    <p>Your order has been placed successfully.</p>
    <button (click)="closeConfirmationModal()">Close</button>
  </div>
</div>