<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Sign Up</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a href="">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Sign Up</p>
      </div>
  </div>
</div>
<!-- Page Header End -->

<form (submit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="userName" name="username" required>
  </div>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required>
  </div>
  <div>
    <label for="address">Address:</label>
    <input type="text" id="address" [(ngModel)]="address" name="address" required>
  </div>
  <div>
    <label for="telephone">Telephone:</label>
    <input type="tel" id="telephone" [(ngModel)]="telephone" name="telephone" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>