.mat-snack-bar-container {
    background-color: #323232;
    color: #fff;
  }
  
  .product-details-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .product-photos {
    flex: 1;
    text-align: center;
  }
  
  .product-info {
    flex: 1;
    padding-left: 20px;
  }

  .product-photos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .small-photos {
    display: flex;
    justify-content: center;
  }
  
  .small-photos img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }
  
  .product-info h1 {
    font-size: 24px;
  }
  
  .product-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .main-photo {
    width: 500px;
  }

  .main-photo-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .main-photo-container img {
    cursor: pointer;
  }
  
  .thumbnail-container {
    width: 100%;
  }
  
  .thumbnail-img {
    cursor: pointer;
    height: 100px;
    object-fit: cover;
    border: 2px solid transparent;
  }
  
  .thumbnail-img.selected-thumbnail {
    border: 2px solid brown;
  }  