<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop Detail</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div class="main-photo-container mb-3">
                <img class="w-100 h-100" [src]="mainPhotoSrc" alt="{{ product!.name }}" (click)="openModal()">
            </div>
            <div class="thumbnail-container">
                <div class="row">
                    <div *ngFor="let photo of product!.photos; let i = index" class="col-3 mb-3">
                        <img [class.selected-thumbnail]="i === selectedThumbnailIndex" class="w-100 h-100 thumbnail-img" [src]="'data:image/jpeg;base64,' + photo.image" alt="{{ product!.name }}" (click)="swapMainPhoto(i)">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 pb-5" *ngIf="!loading && product">
            <div *ngIf="!loading && !product">
                <p>Product not found</p>
            </div>
            <h3 class="font-weight-semi-bold">{{ product.name }}</h3>
            <h3 class="font-weight-semi-bold mb-4">{{ product.price === 0 ? 'Price negotiable' : product.price + ' $' }}</h3>
            <p class="mb-4">{{ product.description }}</p>
            <div class="d-flex mb-3">
                <p class="text-dark font-weight-medium mb-0 mr-3">Category : {{ product.categoryName }}</p>
            </div>
            <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Posted : {{ product.dueDate | date }}</p>
            </div>
            <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Seller : {{ product.userName }}</p>
            </div>
            <div class="d-flex align-items-center mb-4 pt-2">
                <button class="btn btn-primary px-3" (click)="addToCart()" *ngIf="!isCurrentUserAuthor()"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                <button class="btn btn-primary px-3 ml-3" *ngIf="isCurrentUserAuthor()" (click)="editProduct()"><i class="fa fa-edit mr-1"></i> Edit</button>
                <button class="btn btn-primary px-3 ml-3" *ngIf="isCurrentUserAuthor()" (click)="deleteProduct()"><i class="fa fa-trash mr-1"></i> Delete</button>
            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->

<!-- Modal Window -->
<div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <img [src]="mainPhotoSrc" alt="{{ product!.name }}" class="modal-img">
    </div>
</div>
