<div class="product-details-container">
  <div class="product-photo-container">
    <img 
      [src]="getMainPhoto()" 
      alt="{{ product?.name || 'Default Photo' }}"
    >
  </div>
  <div class="small-photos-container" *ngIf="product?.photos && product!.photos.length > 1">
    <div class="small-photos">
      <div *ngFor="let photo of product!.photos.slice(1); let i = index">
        <img *ngIf="photo.image" [src]="'data:image/jpeg;base64,' + photo.image" alt="{{ product?.name }}" (click)="swapMainPhoto(i + 1)">
      </div>
    </div>
  </div>
  <div class="product-info">
    <div *ngIf="!loading && product">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <p>Category: {{ product.categoryName }}</p>
      <p>Price: {{ product.price | currency }}</p>
      <p>Posted on: {{ product.postDate | date }}</p>
      <p>Due date: {{ product.dueDate | date }}</p>
      <p>Status: {{ product.status }}</p>
      <p>User: {{ product.userName }}</p>
    </div>
    <div *ngIf="!loading && !product">
      <p>Product not found</p>
    </div>
    <button *ngIf="isCurrentUserAuthor()" (click)="editProduct()">Edit</button>
    <button *ngIf="isCurrentUserAuthor()" (click)="deleteProduct()">Delete</button>
    <button (click)="addToCart()" *ngIf="!isCurrentUserAuthor()">Add to Cart</button>
  </div>
</div>
