<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Your Credit Cards</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a [routerLink]="['/cabinet']">Cabinet</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Credit Cards</p>
      </div>
  </div>
</div>
<!-- Page Header End -->

<div class="user">
  <h4><strong>Username:</strong> {{ user?.data.userName }}</h4>
  <h4><strong>User Balance:</strong> {{ user?.data.balance }}</h4>
</div>

<!-- Add New Card Button -->
<button class="add-card-button" (click)="openAddCardModal()">Add New Card</button>

<!-- credit-cards.component.html -->
<div>
  <h1>Credit Cards</h1>
  <div *ngIf="cards.length === 0">No cards available</div>
  <div class="table-container">
    <table *ngIf="cards.length > 0" class="table">
      <thead>
        <tr>
          <th>Card Name</th>
          <th>Card Number</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{ card.cardName }}</td>
          <td>{{ card.cardNumber }}</td>
          <td>{{ card.cardAmount }}</td>
          <td>
            <button (click)="openTransferModal(card)">Transfer to Card</button>
            <button (click)="openWithdrawModal(card)">Withdraw from Card</button>
            <button (click)="deleteCard(card.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Transfer Modal -->
<div *ngIf="isTransferModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeTransferModal()">&times;</span>
    <h2>Transfer to Card</h2>
    <label>Amount:</label>
    <input type="number" [(ngModel)]="transferAmount" required>
    <div *ngIf="transferAmountInvalid" class="error">Amount must be greater than 0</div>
    <button (click)="transferToCard()">Submit</button>
  </div>
</div>

<!-- Withdraw Modal -->
<div *ngIf="isWithdrawModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeWithdrawModal()">&times;</span>
    <h2>Withdraw from Card</h2>
    <label>Amount:</label>
    <input type="number" [(ngModel)]="withdrawAmount" required>
    <div *ngIf="withdrawAmountInvalid" class="error">Amount must be greater than 0</div>
    <button (click)="withdrawFromCard()">Submit</button>
  </div>
</div>

<!-- Add New Card Modal -->
<div *ngIf="isAddCardModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeAddCardModal()">&times;</span>
    <h2>Add New Card</h2>
    <form>
      <label>Card Name:</label>
      <input type="text" [(ngModel)]="newCardName" name="newCardName" required>
      <div *ngIf="newCardNameRequiredError" class="error">Card Name is required</div>
      <br>
      <label>Card Number:</label>
      <input type="text" [(ngModel)]="newCardNumber" name="newCardNumber" required>
      <div *ngIf="newCardNumberRequiredError" class="error">Card Number is required</div>
      <br>
      <button type="button" (click)="addNewCard()">Add Card</button>
    </form>
  </div>
</div>