<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Log In</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a href="">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Log In</p>
      </div>
  </div>
</div>
<!-- Page Header End -->

<form (submit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" [(ngModel)]="email" name="email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<button (click)="openForgotPasswordModal()">Forgot Password?</button>

<!-- Forgot Password Modal -->
<div id="forgotPasswordModal" *ngIf="isForgotPasswordModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeForgotPasswordModal()">&times;</span>
    <h2>Forgot Password</h2>
    <form *ngIf="!isResetPasswordMode" (submit)="onForgotPasswordSubmit()">
      <div>
        <label for="forgotEmail">Email:</label>
        <input type="text" id="forgotEmail" [(ngModel)]="forgotEmail" name="forgotEmail" required>
      </div>
      <button type="submit">Submit</button>
    </form>
    <form *ngIf="isResetPasswordMode" (submit)="onResetPasswordSubmit()">
      <div>
        <label for="resetCode">Reset Code:</label>
        <input type="text" id="resetCode" [(ngModel)]="resetCode" name="resetCode" required>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
</div>
