<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">Your Orders</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a [routerLink]="['/cabinet']">Cabinet</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Orders</p>
      </div>
  </div>
</div>
<!-- Page Header End -->

<div class="table-container">
  <h1>Orders</h1>
  <button (click)="toggleOrderView()">{{ isViewingMyOrders ? 'My orders' : 'Orders for my advertisements' }}</button>
  <table class="table">
    <thead>
      <tr>
        <th (click)="sortField = 'id'; toggleSortDirection()">Order ID</th>
        <th (click)="sortField = 'advertisementId'; toggleSortDirection()">Advertisement ID</th>
        <th (click)="sortField = 'buyerName'; toggleSortDirection()">Buyer Name</th>
        <th (click)="sortField = 'sellerName'; toggleSortDirection()">Seller Name</th>
        <th (click)="sortField = 'categoryName'; toggleSortDirection()">Category</th>
        <th (click)="sortField = 'price'; toggleSortDirection()">Price</th>
        <th (click)="sortField = 'orderDate'; toggleSortDirection()">Order Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders" [ngClass]="'status-' + order.status">
        <td>{{ order.id }}</td>
        <td><a [routerLink]="['/product', order.advertisementId]" target="_blank">{{ order.advertisementId }}</a></td>
        <td>{{ order.buyerName }}</td>
        <td>{{ order.sellerName }}</td>
        <td>{{ order.categoryName }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.orderDate | date }}</td>
        <td>
          <button *ngIf="isViewingMyOrders && order.status === 1" (click)="confirmOrder(order.id)">Confirm</button>
          <button *ngIf="!isViewingMyOrders && order.status === 2" (click)="openPaymentModal(order.id)">Confirm</button>
        </td>
      </tr>
    </tbody>
  </table>

 <!-- Payment Confirmation Modal -->
 <div *ngIf="isPaymentModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closePaymentModal()">&times;</span>
    <h2>Confirm your payment</h2>
    <p>Select payment method:</p>
    <select [(ngModel)]="selectedPaymentMethod" (change)="onPaymentMethodChange($event)">
      <option value="personalAccount">Personal Account</option>
      <option value="debitCard">Debit Card</option>
    </select>
    <div *ngIf="selectedPaymentMethod === 'debitCard'">
      <p>Select a debit card:</p>
      <select [(ngModel)]="selectedDebitCardId">
        <option *ngFor="let card of debitCards" [value]="card.id">
          {{ card.cardName }} - **** **** **** {{ card.cardNumber.slice(-4) }}
        </option>
      </select>      
    </div>
    <button (click)="confirmOrderWithPayment()">Confirm Payment</button>
  </div>
</div>