<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th (click)="sortField = 'id'; toggleSortDirection()">Order ID</th>
        <th (click)="sortField = 'advertisementId'; toggleSortDirection()">Advertisement ID</th>
        <th (click)="sortField = 'buyerName'; toggleSortDirection()">Buyer Name</th>
        <th (click)="sortField = 'sellerName'; toggleSortDirection()">Seller Name</th>
        <th (click)="sortField = 'categoryName'; toggleSortDirection()">Category</th>
        <th (click)="sortField = 'price'; toggleSortDirection()">Price</th>
        <th (click)="sortField = 'orderDate'; toggleSortDirection()">Order Date</th>
      </tr>
      <tr>
        <th><input type="text" [(ngModel)]="productIdFilter" placeholder="Filter"></th>
        <th><input type="text" [(ngModel)]="sellerFilter" placeholder="Filter"></th>
        <th><input type="text" [(ngModel)]="categoryFilter" placeholder="Filter"></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders">
        <td>{{ order.id }}</td>
        <td><a [routerLink]="['/product', order.advertisementId]" target="_blank">{{ order.advertisementId }}</a></td>
        <td>{{ order.buyerName }}</td>
        <td>{{ order.sellerName }}</td>
        <td>{{ order.categoryName }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.orderDate | date }}</td>
      </tr>
    </tbody>
  </table>
</div>